{% extends 'admin.html' %} {% block sidebar_and_navbar %}

<div id="main-wrapper">
	<!-- ============================================================== -->
	<!-- Topbar header - style you can find in pages.scss -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- End Topbar header -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	
	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-12 d-flex no-block align-items-center">
					<h4 class="page-title">Form Basic</h4>
					<div class="ml-auto text-right">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="#">Home</a>
								</li>
								<li
									class="breadcrumb-item active"
									aria-current="page"
								>
									Library
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<form class="form-horizontal" action="/addBook" method="POST">
							<div class="card-body">
								<h4 class="card-title">Details of New Book</h4>
								<div class="form-group row">
									<label
										for="ISBN"
										class="col-sm-3 text-right control-label col-form-label"
										>ISBN</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="ISBN"
											placeholder="ISBN"
											name="ISBN"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="lname"
										class="col-sm-3 text-right control-label col-form-label"
										>Title</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="lname"
											placeholder="Title of the book"
											name="title"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="lname"
										class="col-sm-3 text-right control-label col-form-label"
										>Language</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="lname"
											placeholder="Language of the book"
											name="language"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="email1"
										class="col-sm-3 text-right control-label col-form-label"
										>Publisher</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="email1"
											placeholder="publisher"
											name="publisher"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="cono1"
										class="col-sm-3 text-right control-label col-form-label"
										>Publish Date</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="cono1"
											placeholder="publishing date"
											name="date"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="cono1"
										class="col-sm-3 text-right control-label col-form-label"
										>Shelf ID</label
									>
									<div class="col-sm-9">
										<textarea
											class="form-control"
											name="shelf"
											placeholder="Shelf id of library"
										></textarea>
									</div>
								</div>
							</div>
							<div class="border-top">
								<div class="card-body">
									<button
										type="submit"
										class="btn btn-primary"
									>
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- editor -->

			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center">
			All Rights Reserved by Matrix-admin. Designed and Developed by
			<a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
</div>
{% endblock sidebar_and_navbar %}
