{% extends 'admin.html' %} {% block sidebar_and_navbar %}

<div id="main-wrapper">
	<!-- ============================================================== -->
	<!-- Topbar header - style you can find in pages.scss -->
	<!-- ============================================================== -->

	<!-- ============================================================== -->
	<!-- End Topbar header -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<aside class="left-sidebar" data-sidebarbg="skin5">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav" class="p-t-30">
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="index.html"
							aria-expanded="false"
							><i class="mdi mdi-view-dashboard"></i
							><span class="hide-menu">Dashboard</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="charts.html"
							aria-expanded="false"
							><i class="mdi mdi-chart-bar"></i
							><span class="hide-menu">Charts</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="widgets.html"
							aria-expanded="false"
							><i class="mdi mdi-chart-bubble"></i
							><span class="hide-menu">Widgets</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="tables.html"
							aria-expanded="false"
							><i class="mdi mdi-border-inside"></i
							><span class="hide-menu">Tables</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="grid.html"
							aria-expanded="false"
							><i class="mdi mdi-blur-linear"></i
							><span class="hide-menu">Full Width</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link has-arrow waves-effect waves-dark"
							href="javascript:void(0)"
							aria-expanded="false"
							><i class="mdi mdi-receipt"></i
							><span class="hide-menu">Forms </span></a
						>
						<ul aria-expanded="false" class="collapse first-level">
							<li class="sidebar-item">
								<a href="form-basic.html" class="sidebar-link"
									><i class="mdi mdi-note-outline"></i
									><span class="hide-menu">
										Form Basic
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a href="form-wizard.html" class="sidebar-link"
									><i class="mdi mdi-note-plus"></i
									><span class="hide-menu">
										Form Wizard
									</span></a
								>
							</li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="pages-buttons.html"
							aria-expanded="false"
							><i class="mdi mdi-relative-scale"></i
							><span class="hide-menu">Buttons</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link has-arrow waves-effect waves-dark"
							href="javascript:void(0)"
							aria-expanded="false"
							><i class="mdi mdi-face"></i
							><span class="hide-menu">Icons </span></a
						>
						<ul aria-expanded="false" class="collapse first-level">
							<li class="sidebar-item">
								<a
									href="icon-material.html"
									class="sidebar-link"
									><i class="mdi mdi-emoticon"></i
									><span class="hide-menu">
										Material Icons
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a
									href="icon-fontawesome.html"
									class="sidebar-link"
									><i class="mdi mdi-emoticon-cool"></i
									><span class="hide-menu">
										Font Awesome Icons
									</span></a
								>
							</li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link waves-effect waves-dark sidebar-link"
							href="pages-elements.html"
							aria-expanded="false"
							><i class="mdi mdi-pencil"></i
							><span class="hide-menu">Elements</span></a
						>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link has-arrow waves-effect waves-dark"
							href="javascript:void(0)"
							aria-expanded="false"
							><i class="mdi mdi-move-resize-variant"></i
							><span class="hide-menu">Addons </span></a
						>
						<ul aria-expanded="false" class="collapse first-level">
							<li class="sidebar-item">
								<a href="index2.html" class="sidebar-link"
									><i class="mdi mdi-view-dashboard"></i
									><span class="hide-menu">
										Dashboard-2
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a
									href="pages-gallery.html"
									class="sidebar-link"
									><i class="mdi mdi-multiplication-box"></i
									><span class="hide-menu"> Gallery </span></a
								>
							</li>
							<li class="sidebar-item">
								<a
									href="pages-calendar.html"
									class="sidebar-link"
									><i class="mdi mdi-calendar-check"></i
									><span class="hide-menu">
										Calendar
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a
									href="pages-invoice.html"
									class="sidebar-link"
									><i class="mdi mdi-bulletin-board"></i
									><span class="hide-menu"> Invoice </span></a
								>
							</li>
							<li class="sidebar-item">
								<a href="pages-chat.html" class="sidebar-link"
									><i class="mdi mdi-message-outline"></i
									><span class="hide-menu">
										Chat Option
									</span></a
								>
							</li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link has-arrow waves-effect waves-dark"
							href="javascript:void(0)"
							aria-expanded="false"
							><i class="mdi mdi-account-key"></i
							><span class="hide-menu">Authentication </span></a
						>
						<ul aria-expanded="false" class="collapse first-level">
							<li class="sidebar-item">
								<a
									href="authentication-login.html"
									class="sidebar-link"
									><i class="mdi mdi-all-inclusive"></i
									><span class="hide-menu"> Login </span></a
								>
							</li>
							<li class="sidebar-item">
								<a
									href="authentication-register.html"
									class="sidebar-link"
									><i class="mdi mdi-all-inclusive"></i
									><span class="hide-menu">
										Register
									</span></a
								>
							</li>
						</ul>
					</li>
					<li class="sidebar-item">
						<a
							class="sidebar-link has-arrow waves-effect waves-dark"
							href="javascript:void(0)"
							aria-expanded="false"
							><i class="mdi mdi-alert"></i
							><span class="hide-menu">Errors </span></a
						>
						<ul aria-expanded="false" class="collapse first-level">
							<li class="sidebar-item">
								<a href="error-403.html" class="sidebar-link"
									><i class="mdi mdi-alert-octagon"></i
									><span class="hide-menu">
										Error 403
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a href="error-404.html" class="sidebar-link"
									><i class="mdi mdi-alert-octagon"></i
									><span class="hide-menu">
										Error 404
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a href="error-405.html" class="sidebar-link"
									><i class="mdi mdi-alert-octagon"></i
									><span class="hide-menu">
										Error 405
									</span></a
								>
							</li>
							<li class="sidebar-item">
								<a href="error-500.html" class="sidebar-link"
									><i class="mdi mdi-alert-octagon"></i
									><span class="hide-menu">
										Error 500
									</span></a
								>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- End Sidebar navigation -->
		</div>
		<!-- End Sidebar scroll-->
	</aside>
	<!-- ============================================================== -->
	<!-- End Left Sidebar - style you can find in sidebar.scss  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-12 d-flex no-block align-items-center">
					<h4 class="page-title">Form Basic</h4>
					<div class="ml-auto text-right">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="#">Home</a>
								</li>
								<li
									class="breadcrumb-item active"
									aria-current="page"
								>
									Library
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<form class="form-horizontal" action="/addBook" method="POST">
							<div class="card-body">
								<h4 class="card-title">Details of New Book</h4>
								<div class="form-group row">
									<label
										for="ISBN"
										class="col-sm-3 text-right control-label col-form-label"
										>ISBN</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="ISBN"
											placeholder="ISBN"
											name="ISBN"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="lname"
										class="col-sm-3 text-right control-label col-form-label"
										>Title</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="lname"
											placeholder="Title of the book"
											name="title"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="lname"
										class="col-sm-3 text-right control-label col-form-label"
										>Language</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="lname"
											placeholder="Language of the book"
											name="language"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="email1"
										class="col-sm-3 text-right control-label col-form-label"
										>Publisher</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="email1"
											placeholder="publisher"
											name="publisher"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="cono1"
										class="col-sm-3 text-right control-label col-form-label"
										>Publish Date</label
									>
									<div class="col-sm-9">
										<input
											type="text"
											class="form-control"
											id="cono1"
											placeholder="publishing date"
											name="date"
										/>
									</div>
								</div>
								<div class="form-group row">
									<label
										for="cono1"
										class="col-sm-3 text-right control-label col-form-label"
										>Shelf ID</label
									>
									<div class="col-sm-9">
										<textarea
											class="form-control"
											name="shelf"
											placeholder="Shelf id of library"
										></textarea>
									</div>
								</div>
							</div>
							<div class="border-top">
								<div class="card-body">
									<button
										type="submit"
										class="btn btn-primary"
									>
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- editor -->

			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Right sidebar -->
			<!-- ============================================================== -->
			<!-- .right-sidebar -->
			<!-- ============================================================== -->
			<!-- End Right sidebar -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- footer -->
		<!-- ============================================================== -->
		<footer class="footer text-center">
			All Rights Reserved by Matrix-admin. Designed and Developed by
			<a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		<!-- ============================================================== -->
		<!-- End footer -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Page wrapper  -->
	<!-- ============================================================== -->
</div>
{% endblock sidebar_and_navbar %}
