{% extends 'admin.html' %} {% block sidebar_and_navbar %}
<div class="page-wrapper">
	<!-- ============================================================== -->
	<!-- Bread crumb and right sidebar toggle -->
	<!-- ============================================================== -->
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-12 d-flex no-block align-items-center">
				<h4 class="page-title">
					{{details['name']}} <br />
					{{details['email']}}
				</h4>
				<div class="ml-auto text-right">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li
								class="breadcrumb-item active"
								aria-current="page"
							>
								Library
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- End Bread crumb and right sidebar toggle -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Container fluid  -->
	<div class="container-fluid">
		<div class="text-center">
			<img src="{{details['picture']}}" alt="{{details['name']}}" />
		</div>
		<div class="row mt-5">
			<!-- Column -->
			<div class="col-md-4">
				<div class="card card-hover">
					<div class="box bg-cyan text-center">
						<h1 class="font-light text-white">
							<i class="mdi mdi-view-dashboard"></i>
						</h1>
						<h6 class="text-white">
							<a href="/students">Students</a>
						</h6>
					</div>
				</div>
			</div>
			<!-- Column -->
			<div class="col-md-4"  >
				<div class="card card-hover">
					<div class="box bg-success text-center">
						<h1 class="font-light text-white">
							<i class="mdi mdi-chart-areaspline"></i>
						</h1>
						<h6 class="text-white">
							<a href="/faculties">Faculties</a>
						</h6>
					</div>
				</div>
			</div>
			<!-- Column -->
			<div class="col-md-4">
				<div class="card card-hover">
					<div class="box bg-warning text-center">
						<h1 class="font-light text-white">
							<i class="mdi mdi-collage"></i>
						</h1>
						<h6 class="text-white"><a href="/books">Books</a></h6>
					</div>
				</div>
			</div>

			<!-- Column -->
			<!-- <div class="col-md-4 col-lg-3">
				<div class="card card-hover">
					<div class="box bg-danger text-center">
						<h1 class="font-light text-white">
							<i class="mdi mdi-border-outside"></i>
						</h1>
						<h6 class="text-white">Tables</h6>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- End PAge Content -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Right sidebar -->
	<!-- ============================================================== -->
	<!-- .right-sidebar -->
	<!-- ============================================================== -->
	<!-- End Right sidebar -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- End Container fluid  -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- footer -->
	<!-- ============================================================== -->
	<footer class="footer text-center">
		All Rights Reserved by Matrix-admin. Designed and Developed by
		<a href="https://wrappixel.com">WrapPixel</a>.
	</footer>
	<!-- ============================================================== -->
	<!-- End footer -->
	<!-- ============================================================== -->
</div>
{% endblock sidebar_and_navbar %}
